<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring.Boot BookManager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<br>
    <h1>Внесение данных о новой книге:</h1>
    <form th:object="${book}" method="post">
        <p>Название книги: <input type="text" th:field="*{bookTitle}"/></p>
        <p>Автор книги: <input type="text" th:field="*{bookAuthor}"/></p>
        <p>
            <button type="submit" class="btn btn-default">Внести данные</button>
            <!--<button type="submit" class="btn btn-default"
                    th:with="text=${book['new']} ? 'Добавить книгу' : 'Изменить книгу'"
                    th:text="${text}">Добавить книгу</button> -->
        </p>
    </form>
    </br>
    <a th:href="@{/index}">Назад</a>
</body>
</html>